<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhabyq">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/norm_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/norm_logo_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zhabyq"
            android:exported="false" />
        <activity
            android:name=".CheckQrActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZhabyqQrCheck" />
        <activity
            android:name=".QrReaderActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZhabyqQrCheck" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZhabyqQrCheck" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZhabyqQrCheck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>